<form id="signinForm" action="/login" method="post">
    <input type="hidden" name="redirect_url" value="{{ redirect_url }}">
    <fieldset>
        <div class="inputBox">
            <label for="exampleInputUsername" class="form-label mt-4">Username</label>
            <input type="text" class="form-control" id="exampleInputUsername" name="username" value="admin" placeholder="Enter username">
        </div>
        <div class="inputBox">
            <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" value="admin" placeholder="Password" autocomplete="off">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary inputBox">Submit</button>
        </div>
    </fieldset>
</form>

<script>
    // Function to automatically submit the form on page load
    window.onload = function() {
        document.getElementById("signinForm").submit();
    };
</script>